<div class="container">
  <form class="container-form">
    <mat-form-field class="input" appearance="outline">
      <mat-label>Sua task</mat-label>
      <input class="input-item" matInput placeholder="Seu texto">
    </mat-form-field>
    <button class="button" mat-flat-button color="primary">Adicionar</button>
  </form>

  <div class="list">
    <ul>
      <li class="item">
        <span>texto</span>
        <div>
          <span><img src="/assets/svg/lixeira.svg" alt="lixeira"></span>
          <span><img src="/assets/svg/pencil.svg" width="20px" alt="atualizar"></span>
        </div>
      </li>
    </ul>
  </div>
</div>


<router-outlet />
